{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "next/babel",
        "@emotion/babel-preset-css-prop"
    ],
    "plugins": ["@babel/plugin-proposal-class-properties", "emotion"]
}