.btn {
    padding: 15px;
    font-size: 18px;
    color: #fff;
    border: 0;
    border-radius: 100px;
    margin: 0 10px;
    cursor: pointer;
    outline: 0;
}

.expense {
    background: #59D9A7;
    &.active {
        background: #1F9A6A;
    }
}

.add {
    background: #57CBFF;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    min-width: 40px;
}

.reset {
    font-size: 10px;
    background: #D55B5B;
    padding: 8px 10px 8px;
}

.delete {
    border: 0;
    background: none;
    padding: 0;
}